* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.3rem;
  width: 100%;
  color: red;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.card {
  align-content: center;
  border: 3px solid black;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #D3D3D3;
  text-align: center;
  
  
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
  border: 1px solid black;
  justify-content: center;
  background-color: black;
  margin: 10px;
}

h3 {
  text-transform: uppercase;
  color: red;
  text-align: center;

}

h1 {
  text-align: center;
}
